<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AutoMind{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH0dyW6Egv1Bm/Rr5Ysd3U/ur2frwpc2oeCpkodsXCmHHqLHIJXcxCaT3K4lRGGA"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">AutoMind</a>
      </div>
    </nav>
    <main class="container mt-4">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
